body {
    font-size: 25px;
    background-color: #f1f392;
    
}

form {
    text-align: center;
}

.botao {

    background-color: pink;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
}